* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: darkcyan;
  color: white;
  padding: 1rem;
}

.main {
  margin: 1rem;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 1rem;
}
